{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card box-shadow m-2 form-wrap">
                <div class="card-header text-center">
                    <h3>Currency converter</h3>
                </div>
                <form id="form" class="p-3" action='' method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0 text-center">
                            <label for="from_curr">Current currency*</label>
                            <select class="form-control" id="from_curr" name="from-curr" value="{{ from_curr }}">
                                {% for curr in currencies %}
                                    <option value="{{ curr }}" {% if from_curr == curr %}selected{% endif %}>{{ curr }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-4 mb-0 text-center">
                            <label for="amount">Value*</label>
                            <input id='amount' type="number" class="form-control" placeholder="Input number" {% if from_amount %} value="{{ from_amount }}" {% endif %} name="from-amount">
                        </div>
                        <div class="form-group col-md-4 mb-0 text-center">
                            <label for="to-curr">Convert to currency*</label>
                            <select class="form-control" id="to-curr" name="to-curr" value="{{ to_curr }}">
                                {% for curr in currencies %}
                                    <option value="{{ curr }}" {% if to_curr == curr %}selected{% endif %}>{{ curr }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <hr>
                    {% if converted_amount %}
                        <div class="row">
                            <div class="form-group col-md-4 mb-0 text-center">
                                <div class="card-header">
                                    Currency
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ to_curr }}</p>
                                </div>
                            </div>
                            <div class="form-group col-md-4 mb-0 text-center">
                                <div class="card-header">
                                    Value
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ converted_amount }}</p>
                                </div>
                            </div>
                            <div class="form-group col-md-4 mb-0 text-center">
                                <div class="card-header">
                                    Conversation rate
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ conversation_rate }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="submit-btn mt-3">
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}